<%=render 'shared/page_title', title: 'All Recipes' %>
<%@recipes.each do |recipe| %>
<div class="row">
	<div class="col-lg-2">
		<section class="chef-info center">
    <%= link_to gravatar_for(recipe.chef, size:100), chef_path(recipe.chef) %>
    <h5>chef name: <%= recipe.chef.chefname %></h5>
</section>
</div>
</div>
<%end%>